doctype html 
html
  head
    title AS DANCE ACADEMY
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png", alt="LOgo")
                | ADA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info] 
            li #[a(href="/contact") Contact us]
    block content
    footer#footer 
          | Copyright © 2022 ASdanceacademy.com | All rights reserved