doctype html
html
  head
    style
      include ../static/style.css
  body    
    section#introsection
        div Welcome to AS Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionsection
         h2 Our Misson 
         div.card.h
            h3 Forever Dancer
            div.card-box 
              div.card-img 
                img(src="/static/img/1.png", alt="Img")
              div.card-content 
                h3  This is the best Dance Academy 
         div.card
            h3 Elevate your Dance
             div.card-box 
              div.card-img 
                img(src="/static/img/3.png", alt="Img")
              div.card-content 
                p This is where art meets excellence
         div.card
            h3 Become a Professional
             div.card-box 
              div.card-img 
                img(src="/static/img/2.png", alt="Img")
              div.card-content 
                p Dance the way you are
    section#sponsorssection
         h2 Our Sponsors
         div#sponsors 
            img(src="/static/img/s1.png", alt="Sponser Img" class="spimg")
            img(src="/static/img/s2.jpg", alt="Sponser Img" class="spimg")
            img(src="/static/img/s3.jpg", alt="Sponser Img" class="spimg")
            img(src="/static/img/s5.jpg", alt="Sponser Img" class="spimg")
    footer#footer 
          | Copyright © 2022 ASdanceacademy.com | All rights reserved
        
    script
      include ../static/index.js