@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo{
    display: flex;
    color: white;
    margin-right: 25px;
    font-size: 20px;
    

}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    padding: 13px 15px;
    font-family: 'Cinzel', serif;
    background-color: #a30a0a;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 8px 20px;
    color: white;
}
#navbar li a:hover{
    color: black;
    font-weight: bold;

}
#introsection{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 90px;
    background:url('/static/bg.jpg')center/cover no-repeat ;
    height: 725px;
    background-color: red;
    flex-direction: column;

}
#introsection div.small{
    font-size: 70px;
    padding-top: 6px;

}

#sponsorssection{
    height: 300px;
    background-color: #f0b7b7;

}
#sponsorssection h2{
    text-align: center;
    justify-content: center;
    padding: 14px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;

}
#missionsection{
    height: 325px;
    background-color:white;
    width: 67%;
    margin: auto;
}
#missionsection h2{
    text-align: center;
    justify-content: center;
    padding: 14px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
   

}

#footer{
    height: 100px;
    background-color: black;

}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 28%;
    margin: 9px 21px;
    height: 200px;
}
.card h3{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card-img{
    height: 130px;
    padding: 0 10px;
    
}

.card-img img{
    height: inherit;
}
.spimg{
    height: 200px;
    margin: 3px 60px;
    width: 190px;
}
#sponsor{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}
#footer{
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}